<div class = "navbar">
			<nav class = "header-navbar" >
				<ul class = "nav navbar-nav navbar-right"> 
					<li class = "header-links"><%= link_to "Home", root_path %></li>
					<li class = "header-links"><%= link_to "Diary", entries_path %></li>
					<li class = "header-links"><%= link_to "New Entry", new_entry_path %></li>
					<li class = "header-links"><%= link_to "Sign Up", new_user_path %></li>
				</ul>
			</nav>
</div>